/* color styling */
* {
  --active: #3366CC;
  --current: #06d6a0;
  --current-transparent: #06d6a066;
  --slider: #3366CC;
  --icon: #0d1321;
  --sub-icon: #0d1321;
  --inactive: #B8B8B8;
  --border: #5e636e;
  --border-light: #c2c9d6;
  --symbol-border: #D3D3D3;
}

/* background color for solution layers in order to identify it from other layers */
div:has(> div.solution-layer) {
  background-color: #e9ecef;
}
.solution-layer .item:first-child .item-symbol {
  background-color: #FFFFFF !important;
}
