
.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #3366CC;
  border-bottom: 2px solid #E6EFFD;
  font-family: 'Work Sans',sans-serif;
  font-weight: bold;
  line-height: 1;
}
.main-header {
  height: 40px;
  background-color: transparent;
  border-radius: 0 0 12px 12px;
  margin: 0 auto;
  text-align: center;
}
.partners {
  float: left;
  margin: 0 0 0 5px;
}
.partners img {
  height: 36px;
  margin-top: 2px;
  margin-left: 4px;
}
.gov-logo {
  float: right;
}
.gov-logo img {
  height: 20px;
  margin-top: 10px;
  margin-right: 5px;
}
.main-header .wrap {
  display: inline-block;
  margin-right: 56px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-header .title {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 0 12px 0 12px;
  vertical-align: middle;
  display: inline;
}
.main-header .main-menu {
  text-align: left;
  font-size: 12px;
  vertical-align: middle;
  display: inline;
}
.main-header .main-menu a {
  text-decoration: none;
  /*background-color: #dae2d7;*/
  color: #fff;
  margin-right: 4px;
  padding: 2px 4px;
}
.main-header .main-menu a:hover {
  border-bottom: 2px solid #F42F63;
}

.main-header .main-menu a.active {
  text-decoration: none;
  border-bottom: 2px solid #F42F63;
}
